  .features-section {
    padding: 60px 0;
   
    @media screen and (min-width: 1200px) {
    padding: 94px 0;
    } 
  }
  
  .features-section .container {
  @extend %section-container;
  }
  
  .features-list {
    @extend %list;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }
  
  .features-list-item {
    @media screen and (max-width: 767px) {
      max-width: 450px;

      &:not(:last-child) {
        margin-bottom: 30px;
       }
     }

    @media screen and (min-width: 768px) and (max-width: 1200px) {
      width: 354px;

      &:nth-child(n+3) {
        margin-top: 30px;
      }

      &:nth-child(2n+1) {
        margin-right: 30px;
      }
    }

    @media screen and (min-width: 1200px) {
      width: 270px; 
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  } 
  
  .features-svg-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
  
    background-color: #F5F4FA;
  }
  
  .features-svg {
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
  }
  
  .features-subtitle {
    margin-top: 0px;
    margin-bottom: 10px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $secondary-text-color;


     @media screen and (min-width: 480px) {
      text-align: center;   
     }
   
     @media screen and (min-width: 768px) {
      text-align: left;
     }

     @media screen and (min-width: 1200px) {
      text-align: left;   
    }
  }
  
  .features-description {
    margin-top: 0px;
    margin-bottom: 0px;
  
    font-size: 14px;
    line-height: 1.71;
    color: $primery-text-color;
  }